img {
  height: 20rem;
  width: 35rem;
  object-fit: cover;
  object-position: center;
}

ul {
  list-style: none;
}

#planets-menu li {
  height: 2rem;
  background-color: lightblue;
}

.hover {
  background-color: blue;
}